.feed-forms {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    width: 300px;
    input {
        height: 50px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        background-color: $main-colorW;
        margin-bottom: 15px;
        bottom: none;
        padding: 0 20px;
        font-weight: 300;
        font-size: 14px;        
        color: #4B4B4B;
        &:nth-child(3) {
            margin-bottom: 20px;//последний элемент отступ 20 px
        }
}
}