.reviews {
    padding-bottom: 48px;
    .review-item {
        margin-top: 60px;
        display: flex;
        &__img {
            max-width: 168px;
            max-height: 168px;
            // border-radius: 100px;
            // -webkit-border-radius: 100px;
            // -moz-border-radius: 100px;
            // -ms-border-radius: 100px;
            // -o-border-radius: 100px;
        }
        &__text {
            margin-left: 68px;
        }
        &__text-title {
            font-weight: 700;
            font-size: 18px;
            color: #0D0D0D;
        }
        &__text__subtitle {
            font-weight: 500;
            font-size: 14px;
            color: #646464;
        }
        &__text-descr {
            margin-top: 10px;
            font-weight: 300;
            font-size: 16px;
            color: #0D0D0D;
            .descr-subtitle {
                margin-top: 10px;
            }
            .descr-desc {
                margin-top: 10px;
            }
        }
    }
}